
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <form class="form-horizontal" method="post" action="@Url.RouteUrl("crear_usuario")">
            <div class="input-group bg">
                <span class="input-group-addon">Rut / Pasaporte</span>
                <input type="text" class="form-control bg" name="RutPasaporte" value="" />
            </div><!--Fin input-group-->
            <div class="input-group bg">
                <span class="input-group-addon">Nombres</span>
                <input type="text" class="form-control bg" name="Nombres" value="" />
            </div><!--Fin input-group-->
        
            <div class="input-group bg">
                <span class="input-group-addon">Apellido Paterno</span>
                <input type="text" class="form-control bg" name="ApellidoPaterno" value="" />
            </div><!--Fin input-group-->
        
            <div class="input-group bg">
                <span class="input-group-addon">Apellido Materno</span>
                <input type="text" class="form-control bg" name="ApellidoMaterno" value="" />
            </div><!--Fin input-group-->
        
            <div class="input-group bg">
                <span class="input-group-addon">Email</span>
                <input type="text" class="form-control bg" name="Email" value="" />
            </div><!--Fin input-group-->

            <div class="input-group bg">
                <span class="input-group-addon">País</span>
                <input type="text" class="form-control bg" name="Pais" value="" />
            </div><!--Fin input-group-->

            <div class="input-group bg">
                <span class="input-group-addon">Hora Inicio Atencion</span>
                <input type="tel" class="form-control bg" name="Telefono" value="" />
            </div><!--Fin input-group-->
            <div class="input-group bg">
                <span class="input-group-addon">Contraseña</span>
                <input type="password" class="form-control bg" name="Contrasena" value="" />
            </div><!--Fin input-group-->

            <div class="input-group bg">
                <span class="input-group-addon">Estado</span>
                <input type="text" class="form-control bg" name="Estado" value="" />
            </div><!--Fin input-group-->

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="reset" class="btn">Limpiar</button>
            </div>
        </form><!--Fin form-->
    </div>
</div><!--Fin row-->