.container {
    margin: 0 auto;
    max-width: 960px;
    min-width: 770px;
}
.left{
    float: left;
}
.right {
    float: right;
}

#top-navbar .dropdown-toggle{
	/*min-width: 180px;*/
}
#top-navbar .form-group input{
	display: block;
	width: auto;
    margin: 0 5px;
}
#top-navbar .glyphicon{
	font-size: 2em;
	top: 5px;
    right: 5px;
}
.input-group{
	margin-bottom: 5px;
}
.bg{
	width: 100%;
}
.md{
	width: 50%;
}
.sm{
	width: 33%
}

.table-responsive {height:180px;}