@model VelosCar.Models.Combustible

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <form class="form-horizontal">
        <div class="input-group bg">
            <span class="input-group-addon">Nombre</span>
            <input type="text" class="form-control bg" name="Nombre" value="@Model.Nombre" disabled="disabled">
        </div><!--Fin input-group-->
        </form><!--Fin form-->
    </div>
</div><!--Fin row--> 