<div class="jumbotron text-center">
    <h1>Aquí el Banner</h1>
    <p class="lead">Mensaje promosional</p>
    <p><a class="btn btn-large btn-success" href="#" target="ext">+Promos</a></p>
</div>
<div class="container">
    <ol class="breadcrumb">
    <li class="active"><a href="#">Inicio</a></li>
    <li><a href="#">Personas</a></li>
    <li class="active">Registro</li>
    </ol>
</div>