<div class="navbar-inner">
    <div class="container-fluid">   
        <a class="brand" href="#">Velos-Car</a>
        <div class="nav-collapse">
            <ul class="nav">
                <li><a href="#">Vehículo</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Clientes</a></li>
            </ul>
        </div>
    </div>
</div>