<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Concepto</li>
        <li><a href="#">Acción 1</a></li>
        <li><a href="#">Acción 2</a></li>
    </ul>
</div>